[submodule "src/Gml.Client"]
	path = src/Gml.Client
	url = git@github.com:Gml-Launcher/Gml.Client.git
[submodule "src/GamerVII.Notification.Avalonia"]
	path = src/GamerVII.Notification.Avalonia
	url = git@github.com:GamerVII-NET/GamerVII.Notification.Avalonia.git
