[submodule "src/Gml.Client"]
	path = src/Gml.Client
	url = https://github.com/Gml-Launcher/Gml.Client.git
[submodule "src/GamerVII.Notification.Avalonia"]
	path = src/GamerVII.Notification.Avalonia
	url = https://github.com/GamerVII-NET/GamerVII.Notification.Avalonia.git
